@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Sorts+Mill+Goudy:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: 'Aguero';
  src: url(fonts/AgueroSerifRoundedDemoReg-aYxXo.otf);
}
@font-face {
  font-family: 'Klande';
  src: url(fonts/KlandestindemoRegular-rvvxK.otf);
}
@font-face {
  font-family: 'Fantasy';
  src: url(fonts/FantasyNarrativesDemoRegular-R992W.ttf);
}
@font-face {
  font-family: 'Minerva';
  src: url(fonts/CfMinervaDemoRegular-XG332.otf);
}
@font-face {
  font-family: 'Obituary';
  src: url(fonts/ObituaryRegular-ZVaXx.ttf);
}
@font-face {
	font-family: 'Neolost';
	src: url(fonts/NeolostPersonalUse-4nBPB.otf);
}
@font-face {
	font-family: 'Sabeth';
	src: url(fonts/SabethVintageDemoStamp-XG3lZ.otf);
}
@font-face {
	font-family: 'Sterion';
	src: url(fonts/Rocketron-V4400.otf);
}

	/* font-family: "Sorts Mill Goudy", serif; */
	/* font-family: "Ojuju", sans-serif; */
	/* font-family: "Sen", sans-serif; */
	/* font-family: "Comfortaa", sans-serif; */
	/* font-family: "Urbanist", sans-serif; */
	/* font-family: "Cormorant Garamond", serif; */
	/* font-family: "Bodoni Moda", serif; */
	/* font-family: "Playfair Display", serif; */



:root {
	--content-bg: rgb(240, 240, 240);
}
	  
* {
	margin: 0;
	padding: 0%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* font-family: "Ojuju", sans-serif; */
	/* font-family: "Comfortaa", sans-serif; */
	/* font-family: "Urbanist", sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	letter-spacing: 2.5px;
	font-style: normal; */
	/* color: #000000; */
}

html,
body {
	scroll-behavior: smooth;
	overflow-x: hidden;
	/* overflow-y: hidden; */
	background: #000;
	cursor: none;
	/* font-family: "Urbanist", sans-serif; */
	/* font-optical-sizing: auto;
	font-weight: 200;
	letter-spacing: 2.5px;
	font-style: normal; */
}

.noise {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	content: "";
	opacity: .1;  
	z-index: 1000;
	pointer-events: none;
	background: url(assets/whitenoise.gif);
  }

/* CURSOR  */

.cursor-outline {
	position: fixed;
	top: 0;
	left: 0;
	border-radius: 50%;
	z-index: 1000;
	transition: 0.1s;
	pointer-events: none;
	mix-blend-mode: difference;
	transition: all .3s ease-in-out;
	animation: cursorAnim .3s infinite alternate;
	transform: translate(-50%, -50%);
}

@keyframes cursorAnim {
	from {
		transform: translate(-50%, -50%) scale(1);
	}
	to {
		transform: translate(-50%, -50%) scale(.8);
	}
}

@keyframes pulse {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.6);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.star {
	animation: pulse 1s infinite alternate;
}

.cursor {
	position: fixed;  
	width: 0px;
	z-index: 10000;
	height: 0px;
	border-radius: 50%;
	background-color: #fff;
	transform: translate(-50%, -50%);
	pointer-events: none;
	mix-blend-mode: difference;
	transition: width 0.3s, height 0.3s;
	animation: cursorAnim .3s infinite alternate;
}

.cursor.grow {
	width: 80px;
	height: 80px;
	transition: width 0.2s, height 0.2s ease-in-out ;
}

/* Overlay  */


.toggle-btn {
  display: flex;
  justify-content: flex-end;
  z-index: 100000;
  /* mix-blend-mode: difference; */
  /* color: #000; */
  /* border: 2px solid black; */
  /* border-radius: 50px; */
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 3.2em 1.5em 2em;
  background: rgba(255, 255, 255, 0);
  
  /* border-radius: 50px; */
  outline: none;
  height: 20px;
  width: 5px;
  border: none;
  padding: 2em;
  transition: all 250ms ease-out;
  cursor: none;
}

.burger:before,
.burger:after {
  content: "";
  /* mix-blend-mode: difference; */
  z-index: 200;
  width: 25px;
  height: 2px;
  position: absolute;
  background: #000000;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-3px);
}

.burger:after {
  transform: translateY(3px);
}

.active.burger:before {
  transform: translateY(0) rotate(45deg);
  background: #ffffff;
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
  background: #ffffff;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	z-index: 10;
	height: 100vh;
	display: flex;
	background: #000;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	will-change: transform;
}

.nav {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 45%;
}

.nav a {
  cursor: none;
  /* padding-top: 20rem; */
}

#active {
	color: rgb(176, 176, 176);
}
  
.nav span {
	display: inline-block;
	font-family: "Urbanist", sans-serif;
	color: #ffffff;
	font-size: 4vw;
	font-weight: 700;
	letter-spacing: 0;
	/* padding-top: 20rem; */
	text-transform: uppercase;
	pointer-events: none;
}

@media(min-width: 1200px) {
  .nav {
        display: flex;
        justify-content: space-around;
  }
}
@media(max-width: 1200px) {
  .nav {
        top: 18%;
        justify-content: space-around;
  }
  .nav a {
	text-decoration: none;
  }
  .nav span { 
	font-size: 3.5rem;
	display: block;
	text-decoration: none;
  }
}

@media(max-width: 600px) {
	.nav {
		  top: 19%;
		  justify-content: space-around;
	}
	.nav a {
	  text-decoration: none;
	}
	.nav span { 
	  font-size: 3rem;
	  display: block;
	  text-decoration: none;
	}
}

/* _________ */


h2 {
	font-weight: 100;
	font-size: 1.2vw;
	text-transform: uppercase;
	/* font-family: 'Aguero';
	font-family: 'Sabeth'; */
	/* font-family: 'Klande'; */
	letter-spacing: 0;
}

.wrapper {
	width: 100%;
	height: 100%;
}

.wrapper .container {
	transition: all .3s ease-in-out;
	width: 100vw;
	margin: 0;
}

.divider {
	width: 100%;
	height: 3px;
	background: #fff;
}

.whitespace {
	width: 100%;
	height: 80px;
}

.buttons {
	align-items: center;
	cursor: none;
}
/* button a {
	text-decoration: none;
	color: #ffffff;
	mix-blend-mode: difference;
	cursor: none;
	
}

button {
	cursor: none;
	background: none;
	font-family: 'Sabeth';
	font-weight: 900;
	letter-spacing: 3px;
	background-color: #ffffff;
	outline: none;
	border: 2px solid #000;
	text-transform: uppercase;
	padding: 0.5em 1em;
	border-radius: 2em;
	transition: all .3s ease-in-out;
} */
/* button:hover {
  background-color: #000;
} */

/* LOGO  */

#logo {
	display: flex;
	height: 40px;
	z-index: 100;
	width: 40px;
	transition: .5s ease-in-out;
	animation: rotate 5s infinite linear;
	  
}
  
/* #logo:hover {
	transform: rotate(360deg);
	transition: .5s ease-in-out;
	cursor: none;
}  */
  
/* navbar */

#top-header {
	z-index: 200;
	
}

.navbar .navbar-container {
	/* position: relative; */
	width: 100vw;
	/* position: sticky; */
	position: fixed;
	align-items: center;
	/* display: -webkit-box;
	display: -ms-flexbox; */
	display: flex;
	padding: 1rem 2rem;
	/* margin: 4px 4px; */
	/* font-size: 16px; */
	/* text-transform: uppercase;
	letter-spacing: 2.5px; */
	/* -webkit-box-pack: justify; */
	/* -ms-flex-pack: justify; */
	justify-content: space-between;
	/* background-color: #fff; */
	/* font-family: 'Sabeth';
	border-radius: 50px; */
	transition: all .3s ease-in-out;
}

.name {
	color: #000;
	position: absolute;
	font-size: .8rem;
	text-align: center;
	right: 45.8%;
	/* top: 40%; */
	z-index: 1;
}

.name-white {
	color: #ffffff;
	position: absolute;
	font-size: .8rem;
	text-align: center;
	right: 45.8%;
	z-index: 100;
	top: 6%;
}

/* footer*/

.footer .footer-container {
	transition: all .3s ease-in-out;
	position: fixed;
	align-items: center;
	display: flex;
	padding: 1rem 2rem;
	margin: 4px 0;
	font-size: .7rem;
	cursor: none;
	justify-content: space-between;
	z-index: 1000;
	bottom: 1px;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: .8px;
	width: 100vw;
}

/* footer | contact*/
.contact{
	display: block;
	height: 100vh;
	width: 100vw;
	background-color: #ffffff;
	border-radius: 50px;
}
.contact-section {
	text-align: center;
	justify-content: center;
	

}

.contact .contact-section h1 {
	color: #000000;
	/* font-family: 'Sterion'; */
	font-family: 'Fantasy';
	/* font-family: 'Neolost'; */
	/* font-family: 'Obituary'; */
	font-weight: 600;
	text-transform: uppercase;
	font-size: 11.3vw;
	padding: 0;
	margin: 0;
	top: 0;
	/* line-height: 18rem; */
}

.contact .contact-section {
	border-radius: 50px;
	display: flex;
	background-color: #ffffff;
}

.contact p {
	font-size: 7.3vw;
	/* font-family: 'Neolost';	 */
	font-family: 'Sabeth';
}

.contact .contact-section-container {
	border-radius: 50px;
	align-items: center;
	display: block;
	/* padding: 1rem 2rem; */
	/* margin: 4px 0; */
	font-size: .7rem;
	cursor: none;	
	justify-content: space-between;
	z-index: 1000;
	/* bottom: 1px; */
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: .8px;
	width: 100vw;
}
/* header */

.text {
	height: 100vw;
	width: 100vw;
	top: 5.5vw;
	left: 0;
	z-index: 0;
	letter-spacing: 3px;
	font-size: .8vw;
	position: relative;
	font-weight: 300;
	text-transform: uppercase;
}

.text-one {
	height: 70vw;
	width: 70vw;
	top: 21vw;
	left: 15vw;
	z-index: 0;
	letter-spacing: 3px;
	font-size: .8vw;
	position: absolute;
	font-weight: 300;
	text-transform: uppercase;
}

.text-two {
	height: 48vw;
	width: 48vw;
	top: 31vw;
	left: 26vw;
	z-index: 0;
	letter-spacing: 3px;
	font-size: .8vw;
	position: absolute;
	font-weight: 300;
	text-transform: uppercase;
}

.text-three {
	height: 33vw;
	width: 33vw;
	top: 38.5vw;
	left: 33.5vw;
	z-index: 0;
	letter-spacing: 3px;
	font-size: .8vw;
	position: absolute;
	font-weight: 300;
	text-transform: uppercase;
}

.text-four {
	height: 22.5vw;
	width: 22.5vw;
	top: 43.7vw;
	left: 39vw;
	z-index: 0;
	letter-spacing: 3px;
	font-size: .8vw;
	position: absolute;
	font-weight: 300;
	text-transform: uppercase;
}

.text-five {
	height: 15vw;
	width: 15vw;
	top: 47vw;
	left: 42.8vw;
	z-index: 0;
	letter-spacing: 3px;
	font-size: .8vw;
	position: absolute;
	font-weight: 300;
	text-transform: uppercase;
}

.text-six {
	height: 10vw;
	width: 10vw;
	top: 49.5vw;
	left: 45.3vw;
	z-index: 0;
	letter-spacing: 3px;
	font-size: .8vw;
	position: absolute;
	font-weight: 300;
	text-transform: uppercase;
}

.text-seven {
	height: 6vw;
	width: 6vw;
	top: 51.6vw;
	left: 47.4vw;
	z-index: 0;
	letter-spacing: 3px;
	font-size: .8vw;
	position: absolute;
	font-weight: 300;
	text-transform: uppercase;
}

.text-eight {
	height: 4vw;
	width: 4vw;
	top: 52.6vw;
	left: 48.4vw;
	z-index: 0;
	letter-spacing: 3px;
	font-size: .8vw;
	position: absolute;
	font-weight: 300;
	text-transform: uppercase;
}

.text-nine {
	height: 2.5vw;
	width: 2.5vw;
	top: 53.4vw;
	left: 49.2vw;
	z-index: 0;
	letter-spacing: 3px;
	font-size: .8vw;
	position: absolute;
	font-weight: 300;
	text-transform: uppercase;
}

.text-ten {
	height: 1.6vw;
	width: 1.6vw;
	top: 53.9vw;
	left: 49.7vw;
	z-index: 0;
	letter-spacing: 3px;
	font-size: .8vw;
	position: absolute;
	font-weight: 300;
	text-transform: uppercase;
}

.text-11 {
	height: 1vw;
	width: 1vw;
	top: 54.2vw;
	left: 50vw;
	z-index: 0;
	letter-spacing: 3px;
	font-size: .8vw;
	position: absolute;
	font-weight: 300;	
	text-transform: uppercase;
}

.header {
	transition: all .3s ease-in-out;
	margin: 4px 0;
	z-index: 2 !important;
	background-color: #ffffff;
	height: 110vw;
	border-radius: 50px;
	justify-content: flex-end;
}

.header-container {
	display: flex;
}

.header .header-container h1 {
	text-transform: capitalize;
	font-family: 'Neolost';
	font-weight: 100;
	padding: 2vw;
	text-transform: uppercase;
	color: #000000;
}

@media (max-width: 900px) {
	.header .header-container h1 {
		font-size: 5.4rem;
	}
}

/* section-header */


.section-header .section-header-container {
	transition: all .3s ease-in-out;
	display: flex;
	padding: 12px 0;
	margin: 4px 0;
	font-size: 16px;
	color: #000000;
	border-radius: 50px;
	background-color: #fff;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 2rem 2rem;
}

/* about */

.about {
	width: 100%;
	display: flex;
	gap: .2rem;
}

.about .about-container {
	transition: all .3s ease-in-out;
	/* flex: 1; */
	padding: 8rem 20rem 8rem rem;
	border-radius: 50px;
	align-items: center;
	/* float: right; */
	background-color: #fff;
}

.about .about-container img {
	height: 600px;
	border-radius: 40px;
	filter: grayscale(100);
	transition: all .3s ease-in-out;
}
.about .about-container img:hover {
	border-radius: 50px;
	filter: blur(0);
	transition: all .3s ease-in-out;
}


.about .about-container p { 
	font-family: 'Sabeth';
	/* font-family: 'Aguero'; */
	/* font-family: 'Obituary'; */
	/* font-family: "Urbanist", sans-serif;/ */
	/* text-transform: uppercase; */
	/* letter-spacing: 10px; */
	margin: 40px 0;
	font-size: 1.3vw;
}

@media (max-width: 900px) {
	.about .about-container {
		width: 100%;
	}
	.about .about-container p {
		font-size: 24px;
	}
}
/* style="height: 25px; border-radius: 50%; background-color: black; " */
/* .dot, .blue-dot {
	height: 17px;
	width: 17px;
	border-radius: 50%;
	display: inline-block;
}
.blue-dot {
	background-color: rgb(0, 0, 222);
}
.dot {
	background-color: #d40000;
} */
/* Character  */
.character {
	width: 100%;
	display: flex;
	gap: .2rem;
	margin-top: .3rem;
}

.character .character-container {
	transition: all .3s ease-in-out;
	/* flex: 1; */
	padding: 6rem 6rem 6rem 6rem;
	border-radius: 50px;
	align-items: center;
	/* float: right; */
	background-color: #fff;
}

.character .character-container img {
	height: 600px;
	border-radius: 40px;
	filter: grayscale(100);
	transition: all .3s ease-in-out;
}
.character .character-container img:hover {
	border-radius: 50px;
	filter: blur(0);
	transition: all .3s ease-in-out;
}


.character .character-container p {
	font-family: 'Aguero';
	margin: 40px 0;
	font-size: 2vw;
}

@media (max-width: 900px) {
	.character .character-container {
		width: 100%;
	}
	.character .character-container p {
		font-size: 24px;
	}
}

/* projects */

.project-menu__item {
	position: relative;
	padding: 1.6vw 0 0 0;
	margin: 4px;
}

.project-menu__item-link {
	display: inline-block;
	cursor: none;
	position: relative;
	color: #fff;
	font-family: 'Neolost';
	transition: opacity 0.4s;
	text-transform: uppercase;
}

.project-menu__item-link::before {
	all: initial;
	text-transform: uppercase;
	counter-increment: menu;
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.project-menu__item-link:hover {
	/* -webkit-transition-duration: 0.1s; */
	transition-duration: 0.1s;
	opacity: 0;
}

.project-menu__item-img {
	pointer-events: none;
	position: absolute;
	/* mix-blend-mode: difference; */
	max-height: 400px;
	opacity: 0;
	z-index: 0;
	left: 100%;
	top: 25%;
	/* -webkit-transform: translate3d(calc(-100% - 6vw), -30%, 0)
		translate3d(0, 20px, 0); */
	transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.project-menu__item-link:hover + .project-menu__item-img {
	opacity: 1;
	transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 6deg);
	transition: all 0.3s ease-in-out;
}

.project-menu {
	padding: 0vh 0 0 0vh;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	font-size: 8vw;
}

.marquee {
	transition: all .3s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background-color: #000000;
	color: #fff;
	pointer-events: none;
	mix-blend-mode: difference;
}

/* .marquee.photography {
	background: url(images/1.jpg);
	object-fit:cover;
} */

.marquee__inner {
	/* width: -webkit-fit-content;
	width: -moz-fit-content; */
	width: fit-content;
	/* display: -webkit-box;
	display: -ms-flexbox; */
	display: flex;
	position: relative;
	/* -webkit-animation: marquee 5s linear infinite; */
	animation: marquee 5s linear infinite;
	/* -webkit-animation-play-state: paused; */
	animation-play-state: paused;
	opacity: 0;
	/* -webkit-transition: opacity 0.1s; */
	transition: opacity 0.1s;
	padding: 2vw 0;
}

.project-menu__item-link:hover ~ .marquee .marquee__inner {
	/* -webkit-animation-play-state: running; */
	animation-play-state: running;
	opacity: 1;
	/* -webkit-transition-duration: 0.8s; */
	transition-duration: all .3s ease-in-out;
}

.project-menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: 8vw;
	padding: 3vw 0 3vw 2vw;
}

.marquee span {
	/* font-family: 'Klande'; */
	font-family: 'Neolost';
	letter-spacing: 10px;
	font-weight: 100;
	text-transform: uppercase;
}

@-webkit-keyframes marquee {
	0% {
		/* -webkit-transform: translate3d(var(--move-initial), 0, 0); */
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100% {
		/* -webkit-transform: translate3d(var(--move-final), 0, 0); */
		transform: translate3d(var(--move-final), 0, 0);
	}
}

@keyframes marquee {
	0% {
		/* -webkit-transform: translate3d(var(--move-initial), 0, 0); */
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100% {
		/* -webkit-transform: translate3d(var(--move-final), 0, 0); */
		transform: translate3d(var(--move-final), 0, 0);
	}
}

/* socials */

/* .socials {
	height: 40vw;
} */

.socials .socials-container {
	transition: all .3s ease-in-out;
	/* height: 20vw; */
	display: -webkit-box;
	display: -ms-flexbox;
	padding: 3rem 1.5rem 2rem 1.5rem;
	display: flex;
	-webkit-box-pack: justify;
	background-color: #fff;
	border-radius: 50px;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 8vw;;
}

.socials .socials-container a {
	cursor: none;
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 2.8vw;
	background-color: #ffffff;
	border: 3px solid rgb(0, 0, 0);
	border-radius: 50px;
	font-family: 'Sabeth';
	font-weight: 100;
	padding: 1.5rem;
	transition: all .3s ease-in-out;
	letter-spacing: 1vw;
}

.socmed a:hover{
	background-color: rgb(0, 0, 0);
	transition: all .3s ease-in-out;
	color: #ffffff;
}

@media (max-width: 900px) {
	.socials .socials-container a {
		font-size: 30px;
	}
}


.marquee-two {
	/* position: absolute; */
	transition: all .3s ease-in-out;
	position: relative;
	bottom: 0%;
	width: 100%;
	margin: 0 auto;
	padding-top: 0.8em;
	white-space: nowrap;
	overflow: hidden;
	z-index: 0;
	background: #ffffff;
	display: flex;
	align-items: center;
	border-radius: 30px;
	margin: .3rem;
	
}
.marquee-two span {
	font-family: 'Fantasy';
	font-weight: 200;
	letter-spacing: 10px;
	/* font-weight: 400; */
	color: #000000;
	font-size: 3vw;
	text-transform: uppercase;
	padding-bottom: 9px;
	animation: marquee-animation 400s linear infinite;
}

@keyframes marquee-animation {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(-100%, 0);
	}
}

.dot {
	height: 25px;
	width: 25px;
	background-color: #000000;
	border-radius: 50%;
	display: inline-block;
}

.dot:hover {
	background-color: rgb(188, 0, 0);
}

.scrollbutton { 
    position: absolute;
    /* bottom: vw;  */
	right: 47%;
	background-color: #000;
	z-index: 1;
	justify-content: center;
    background: none;
	text-decoration: none;
    color: #000000; 
	transition: all .3s ease-in-out;
	font-size: 9vw;
	font-family: 'Urbanist', sans-serif;
	/* order: none; background: none; */
} 
  
.scrollbutton:hover { 
	transform: translateY(-15px)
}


/* Styles for the content section */
/* 
.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
} */

/* .content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
} */



/* contact page  */

/* .contact-section {
    width: 10vw;
    display: flex;
} */
/* .contact-section h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3vw;
  margin-bottom: 10px;
} */

/* .contact-section span {
  text-transform: uppercase;
} */

/* .contact-details p {
  font-size: 1vw;
  padding-top: 2.5vw;
} */
/* .contact-details .col {
	width: 100vw;
} */

/* .personal-info {
  padding: 4em 0 0 0;
} */

input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 3px solid #000;
  padding: 0.4em;
  width: 100%;
  margin-right: .6em;
  font-family: 'Sabeth';
}
.row {
  display: flex;
  margin: 2em 0 !important;
}
.mainLoginInput::-webkit-input-placeholder { 
  color: gray;
  font-size: 1.5vw;
  letter-spacing: 5px;
  font-family: 'Sabeth';
}

input[type="text"]
{
    font-size: 1.5vw;
	font-family: 'Sabeth';
}

textarea#message {
	font-family: 'Sabeth';
	letter-spacing: 5px;
	padding: 0.4em;
	margin-right: .6em;
	width: 100%;
	background: none;
	outline: none;
	border: none;
	border-bottom: 3px solid #000;
	font-size: 1.5vw;
	width: 100%;
	height: 11vw;
}

.submit {
	width: 100%;
	justify-content: left;
}

/* 
@media (min-width: 900px) {
  html,
  body {
    height: 100%;
  }

  .contact-section {
    width: 100%;
    display: flex;
  }
}

@media (max-width: 900px) {
  .col {
    width: 100%;
  }
} */
#hover-this {
	cursor: none;
}

.hoverover:hover {
	transition: all .3s ease-in-out;
	background: var(--content-bg);
}