
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

/* FONTS  */


/* font-family: "Sorts Mill Goudy", serif; */

:root {
    --bg: #fafafa;
    --link-color: #e2e2dc;
    --overlay-bg: #0a0a0a;
    --circle-outline: #505050;
    --base-text: #cdc6be;
    --accent :#e54e1b;
    
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    /* cursor: none; */
    width: 100vw;
    height: 100vh;
    background: var(--base-text);
    font-family: "Ojuju", sans-serif;
    overflow: hidden;
  }

  .cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: var(--link-color);
    border-radius: 50%;
    z-index: 3;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%) scale(10);
  }
  
  /* primary nav */
  #info {
    left: 50px;
    position: fixed;
  }
  .copyright {
    /* writing-mode: sideways-lr ; */
    position: fixed;
    bottom: 6vw;
    display: flex;
    left: 2vw;
  }
  /* .copyright span {
    writing-mode: ;
  } */
  /* #home {
    position: fixed;
    top: 35px;
    display: flex;
    right: 35px;
    height: 30px;
    width: 30px;  
    
    } */
  #logo {
    position: fixed;
    bottom: 6vw;
    display: flex;
    right: 2vw;
    height: 60px;
    z-index: 1;
    width: 60px;
    transition: .5s ease-in-out;
    
    }

  #logo:hover {
    transform: rotate(360deg);
    height: 70px;
    width: 70px;
    transition: .5s ease-in-out;
    cursor: pointer;
   } 
  

/* PROFILE SECTION  */
.text {
  top: 25%;
  left: 36.5%;
  z-index: -1;
  font-weight: 300;
  color:var(--overlay-bg);
  /* font-size: 6vw; */
  position: absolute;
  font-family: "Ojuju", sans-serif;
  text-transform: uppercase;
}



#profile {
  display: flex;
  justify-content: center;
  /* gap: 50rem; */
  height: 60vh;
}

.section__pic-container {
  z-index: -1;
  display: flex;
  height: 20vw;
  width: 20vw;
  margin: auto 0;
}

/* .section__text {
    align-self: center;
    text-align: center;
}

.section__text p {
    font-weight: 600;
}

.section__text__p1 {
    text-align: center;
}
.section__text__p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.title {
    color:rgb(53, 53, 53);
    font-size: 5rem;
    text-align: center;
}

#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}  */

/* ICON  */

/* .icon {
    height: 2rem;
}  */

/* BUTTONS  */
/* 
.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1, .btn-color-2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0) ;
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    background: rgb(255, 255, 255) ;
}

.btn-container {
    gap: 1rem;
}  */


/* 
.hover-this:hover ~ .cursor {
    transform: translate(-50%, -50%) scale(20);
} */


.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-bg);
  }
  
  .counter {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--link-color);
    padding: 2rem 4rem;
    font-size: 10vw;
    font-family: "Ojuju", sans-serif;
    font-weight: lighter;
    font-style: italic;
    z-index: 10000;
  }
  
  .site-teaser span {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem 4rem;
    color: var(--circle-outline);
    font-size: 1rem;
    font-family: "Ojuju", sans-serif;
    font-weight: lighter;
    font-style: italic;
  }
  
  .circles {
    position: absolute;
    left: 5rem;
    bottom: 5rem;
    width: 400px;
    height: 400px;
    border-radius: 100%;
  }
  
  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border: 2px solid var(--link-color);
    border-radius: 100%;
  }
  
  .circle-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
  }
  
  .circle-inner-rotator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 162.5px;
    height: 162.5px;
    background: none;
    border: 2px solid var(--link-color);
    border-radius: 100%;
  }
  
  .block {
    position: absolute;
    top: -100px;
    left: 200px;
    width: 0px;
    height: 0px;
    display: none;
    background: none;
    border: 2px solid var(--link-color);
    transform-origin: bottom;
  }
  
  .container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: var(--bg);
  }

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 2em;
  color: #cdc6be;
  mix-blend-mode: difference;
  z-index: 2;
}

nav > div {
  flex: 1;
}
/* 
.logo {
  text-align: center;
  font-family: "Ojuju", sans-serif;
}

.logo p {
  position: relative;
  top: 0.225em;
}

.logo a {
  text-decoration: none;
  font-size: 30px;
  color: #cdc6be;
} */

.toggle-btn {
  display: flex;
  justify-content: flex-end;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.75em 3.2em 1.5em 2em;
  background: rgba(255, 255, 255, 0);
  border-radius: 0.25em;
  outline: none;
  height: 20px;
  width: 28px;
  border: none;
  transition: all 250ms ease-out;
  cursor: pointer;
}

.burger:before,
.burger:after {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  background: #fff;
  transition: all 250ms ease-out;
  will-change: transform;
}

.burger:before {
  transform: translateY(-3px);
}

.burger:after {
  transform: translateY(3px);
}

.active.burger:before {
  transform: translateY(0) rotate(45deg);
}

.active.burger:after {
  transform: translateY(0) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 20;
  /* bottom: 70; */
  left: 0;
  width: 100vw;
  z-index: 1;
  height: 100vh;
  display: flex;
  background: #181717;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  will-change: transform;
}

/* .overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
} */

/* .menu-item {
  display: flex;
  top: 1px;
  cursor: pointer;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
} */

/* .menu-item p {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-family: "Ojuju", sans-serif;
  font-size: 7vw;
  line-height: 105%;
  will-change: transform;
  transition: letter-spacing 0.3s;
  z-index: 0;
} */

/* .menu-item p:hover {
  letter-spacing: 0.075em;
}

.menu-item p#active::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  transform: translateY(-50%);
  background: var(--base-text);
  width: 0%;
  height: 12px;
}

.menu-item a {
  color:var(--bg);
  text-decoration: none;
} */

@media (max-width: 900px) {
  .logo-main img {
    display: none;
  }
}

@media (max-width: 900px) {
  .logo a {
    font-size: 20px;
  }
}

/* CONTACT ME  ****************************************************************** CONTACT ME */
/* marquee */

.marquee {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin: 0 auto;
  padding: 0.2em 0;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;
  background: var(--overlay-bg);
  display: flex;
  align-items: center;
  
}
.marquee span {
  /* font-family: "Formula Condensed"; */
  /* font-family: "Ojuju", sans-serif; */
  font-family: "Sorts Mill Goudy", serif;
  text-transform: uppercase;
  /* font-weight: 400; */
  color: var(--base-text);
  font-size: 3vw;
  text-transform: uppercase;
  padding-left: -10%;
  animation: marquee-animation 90s reverse linear infinite;
}

/* @keyframes marquee-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
} */

.marquee-one {
  width: 100%;
  /* margin: 0 auto; */
  white-space: nowrap;
  overflow: hidden;
  height: 10.3vw;
  /* padding-top: -10rem; */
  background-color: var(--overlay-bg);
}

.marquee-one span {
  /* font-family: "Ojuju", sans-serif; */
  font-family: "Sorts Mill Goudy", serif;
  /* font-weight: 700; */
  color:  var(--bg);
  font-size: 8vw;
  text-transform: uppercase;
  display: inline-block;
  padding-left: -10%;
  animation: marquee-animation 80s linear infinite;
}
.line {
  border-bottom: 1px solid #000000;
}
.dotted {
  border-bottom: 1px dotted #000000;
}

@keyframes marquee-animation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.col {
  width: 50%;
  padding: 1em 3em;
}

.contact-section h3 {
  text-transform: uppercase;
  color: var(--overlay-bg);
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-section span {
  text-transform: uppercase;
}

.contact-details p {
  font-size: 40px;
  line-height: 60px;
  padding-top: 0.8em;
}

.item {
  padding: 4em 0 0 0;
}

.contact-info {
  display: flex;
}

.address {
  padding-left: 4em;
}

input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--overlay-bg);
  font-size: 24px;
  padding: 0.4em;
  width: 100%;
  color: var(--overlay-bg);
  margin-right: 0.4em;
}
.row {
  display: flex;
  margin: 2em 0 !important;
}
.mainLoginInput::-webkit-input-placeholder { 
  font-family: "Ojuju", sans-serif;
  color: var(--overlay-bg);
  font-size: 24px;
}

.mainLoginInput:-moz-placeholder { 
  font-family: "Ojuju", sans-serif;
  color: var(--overlay-bg);
  font-size: 24px;
}

input[type="text"]
{
    font-size:24px;
    font-family: "Ojuju", sans-serif;
    color: var(--overlay-bg);
}

textarea#message {
  width: 100%;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--overlay-bg);
  font-size: 24px;
  padding: 0.4em;
  width: 100%;
  color: var(--overlay-bg);
  font-family: "Ojuju", sans-serif;
}

.submit {
  width: 100%;
  justify-content: space-between;
}

.submit a {
  text-decoration: none;
  color: var(--overlay-bg);
  font-family: "Sorts Mill Goudy", serif;
	letter-spacing: 3px;
	font-size: 3vw;
	font-weight: 400;
	text-transform: uppercase;
}

.send-icon {
  color: var(--overlay-bg);
  font-size: 70px;
}

@media (min-width: 900px) {
  html,
  body {
    height: 100%;
  }

  .contact-section {
    width: 100%;
    display: flex;
  }
}

@media (max-width: 900px) {
  .col {
    width: 100%;
  }
}



.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate-blob 4s ease-in-out infinite;
}

@keyframes animate-blob {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

.blob-1 {
  position: absolute;
  /* top: 50%;
  left: 5%; */
  width: 20vw;
  height: 20vw;
  background: url(assets/Profile.png) no-repeat 50% 50%;
  background-size: cover;
}

.blob-2 {
  position: absolute;
  top: 27vw;
  left: 54vw;
  width: 10vw;
  height: 10vw;
  /* background: url(./img-2.jpg) no-repeat 50% 50%; */
  /* background-size: cover; */
  border: 2px solid rgba(0, 0, 0, 1);
  /* animation-delay: 1s; */
}

.blob-3 {
  position: absolute;
  top: 50%;
  right: 4vw;
  width: 100px;
  height: 100px;
  border: 2px solid var(--overlay-bg);
  /* animation-delay: 2s; */
}


.nav {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 30%;
}

#active {
  color: gray;
}
span {
  display: inline-block;
  /* font-family: "Monument Extended"; */
  font-family: "Sorts Mill Goudy", serif;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: "Ojuju", sans-serif; */
  /* font-weight: 500; */
  letter-spacing: 3px;
  color: #fff;
  font-size: 4.4vw;
  text-transform: uppercase;
  pointer-events: none;
  transition: transform 0.1s linear;
}

/* .cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
} */

/* .cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(8);
} */


@media(min-width: 900px) {
  .nav {
        display: flex;
        justify-content: space-around;
  }
}

@media(max-width: 900px) {
  .nav {
        top: 30%;
  }

  .hover-this {
        width: 100%;
        padding: 20px 0;
        display: inline-block;
  }
}


